/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply border p-2 w-full rounded;
}
